<%- include("../_layout/header") %>
<form method="POST">
    <div class="form-group row">
        <div class="col-md-12">
            <h4>Times</h4>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Nome</label>
        <input name="name" type="text" class="form-control col-md-12" value="<%=team.name%>">
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Sigla</label>
        <input name="acronym" type="text" class="form-control col-md-12" value="<%=team.acronym%>">
    </div>
    <div class="form-group row">
        <input type="submit" class="btn btn-primary" value="Salvar">
        <a class="btn btn-default" href="/times">Voltar</a>
    </div>
    <% if(typeof message !== 'undefined') { %>
        <div class="alert alert-danger">
            <%-message%>
        </div>
    <% } %>
</form>
<%- include("../_layout/footer") %>